* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    box-sizing: border-box;
}

.row {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
}

img{
    width: 100%;
}


@media(max-width: 1000px){
    .row {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media(max-width: 520px){
    .row{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat( 1fr);
    }
}


img {
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    overflow: hidden;
}
